<!-- views/customer.ejs -->
<div class="form-header">
    <% if (Object.keys(errors).length === 0) { %>
    <h2>Моля, попълнете информацията:</h2>
    <% } else { %>
    <h2 class="errors-heading">Oops, please correct the following:</h2>
    <ul class="errors-list">
        <% Object.values(errors).forEach(error => { %>
        <li>
            <%= error.msg %>
        </li>
        <% }) %>
    </ul>
    <% } %>
</div>
<form method="post" action="/customer" novalidate>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div class="form-field <%= errors.fromAddress ? 'form-field-invalid' : '' %>">
        Начален адрес:
        <br><label for="fromAddress"></label><input class="input" type="text" tabindex="1" id="fromAddress" name="fromAddress" value="<%= data.fromAddress %>" autofocus>
        <br>
        <% if (errors.fromAddress) { %>
        <div class="error">
            <%= errors.fromAddress.msg %>
        </div>
        <% } %>
    </div>
    <div class="form-field <%= errors.toAddress ? 'form-field-invalid' : '' %>">
        Краен адрес:
        <br><label for="toAddress"></label><input class="input" type="text" tabindex="2" id="toAddress" name="toAddress" value="<%= data.toAddress %>"><br>
        <% if (errors.toAddress) { %>
        <div class="error">
            <%= errors.toAddress.msg %>
        </div>
        <% } %>
    </div>
    <div class="form-field <%= errors.time ? 'form-field-invalid' : '' %>">
        Време:
        <br><label for="time"></label><input class="input" type="text" tabindex="3" id="time" name="time" value=<%= data.time %>>
        <br>
        <% if (errors.time) { %>
        <div class="error">
            <%= errors.time.msg %>
        </div>
        <% } %>
    </div>
    <div class="form-field <%= errors.carDetails ? 'form-field-invalid' : '' %>">
        Детайли за колата:
        <br><label for="carDetails"></label><input class="input" type="text" tabindex="4" id="carDetails" name="carDetails" value="<%= data.carDetails %>"><br>
        <% if (errors.carDetails) { %>
        <div class="error">
            <%= errors.carDetails.msg %>
        </div>
        <% } %>
    </div>
    <div class="form-field <%= errors.customerNumber ? 'form-field-invalid' : '' %>">
        Phone number of the caller:
        <br><label for="customerNumber"></label><input class="input" type="text" id="customerNumber" name="customerNumber" readonly="readonly" value="autofilled"><br>
        <% if (errors.customerNumber) { %>
        <div class="error">
            <%= errors.customerNumber.msg %>
        </div>
        <% } %>
    </div>
    <div class="form-field <%= errors.operatorID ? 'form-field-invalid' : '' %>">
        Operator ID:
        <br><label for="operatorID"></label><input class="input" type="text" id="operatorID" name="operatorID" readonly="readonly" value="autofilled"><br>
        <% if (errors.operatorID) { %>
        <div class="error">
            <%= errors.operatorID.msg %>
        </div>
        <% } %>
    </div>
    <div class="form-field <%= errors.callID ? 'form-field-invalid' : '' %>">
        Call ID:
        <br><label for="callID"></label><input class="input" type="text" id="callID" name="callID" readonly="readonly"
                                               value="autofilled"><br>
        <% if (errors.callID) { %>
        <div class="error">
            <%= errors.callID.msg %>
        </div>
        <% } %>
    </div>
    <div class="form-actions">
        <button class="btn" type="submit">Submit</button>
    </div>
</form>